.footer{
    background-color: var(--black);
    padding-top:5rem;
    margin-top: 5rem;
    
}

.nav{
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}

@media (min-width: 996px) { 
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.nav a{
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
}

.copy{
    padding-bottom: 3rem;
    text-align: center;
    color: var(--white);
}